/*****FONT*****/
@font-face 
{
    font-family: 'setofont';
    src: url('./fonts/setofont.woff') format("woff"),
        url('./fonts/setofont.ttf') format("truetype"),
        url('./fonts/setofont.eot') format("embedded-opentype");
}

/*****TOP*****/
html 
{
    background-color: rgb(250, 250, 250);
}
div.top
{
    min-height: 20px;
    background-color: rgb(250, 250, 250);
}
div.main
{
    font-family:'setofont';
    background-color: rgb(250, 250, 250);
}