/*****FONT*****/
@font-face 
{
    font-family: 'setofont';
    src: url('./fonts/setofont.woff') format("woff"),
    url('./fonts/setofont.ttf') format("truetype"),
    url('./fonts/setofont.eot') format("embedded-opentype");
}

/*****ALL FILE*****/

/*定義滾動條高寬及背景高寬分別對應橫豎滾動條的尺寸*/
::-webkit-scrollbar 
{
    width: 0.5%;
    height: 16px;
    background-color: #F5F5F5;
}

/*定義滾動條軌道內陰影+圓角*/
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #F5F5F5;
}

/*定義滑塊內陰影+圓角*/
::-webkit-scrollbar-thumb 
{
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #555;
}

html 
{
    background-color: rgb(250, 250, 250);
    overflow-y:scroll;
}

div.background
{
    height: 100vh;
    font-family: 'setofont';
    background-color: rgb(250, 250, 250);
}

div.topbar 
{
    min-height: 20px;
}

div.footer 
{
    min-height: 50px;
}

/*****monitor.php*****/
input.dateTimePicker:read-only
{
    background-color: rgb(255, 255, 255);
}
span.input-group-addon
{
    background-color: #fff;
}
.panel-custom
{
    border-color: #ddd;
}
.panel-heading 
{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

/*****account.php*****/
div.account_topbar
{
    min-height: 200px;
}
div.jumbotronSet
{
    min-height: 550px;
}
div.jumbotron
{
    background-color:white;
    min-height: 420px;
}
.account-list-group li
{
    /* word-wrap:break-word; /*依單字換行*/
    /* word-break: normal;  */
    white-space:nowrap; /*強制不換行*/
    overflow:hidden; /*自动隐藏文字*/
    text-overflow: ellipsis; /*文字隱藏後添加省略符號*/
}
.permission-list-group li
{
    word-wrap:break-word;/*依單字換行*/
    word-break: keep-all;/*不允許CJK(Chinese/Japanese/Korean)文本中的單辭換行，只能在半角空格或連字符處換行。非CJK文本的行為實際上和normal一致*/
}

/*隱藏list-group外框線*/
li.borderless
{
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

.permission-list-group
{
    width:85%;
    margin:0px auto;/*讓DIV置中*/
}

/*變更carousel左右箭頭顏色*/
.carousel-control-prev-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128,128,128)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128,128,128)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}